/* Form Size */
.container-background {
  background-color: rgb(127, 177, 242);
}

.align-center {
  padding-left: 10%;
}

.title-styl {
  color: blueviolet;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-styl {
  color: #485063;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-top: 2%;
}

.message-size {
  padding-bottom: 20%;
  padding-top: 15px;
}

.btn-position {
  padding-left: 10%;
}

.submit-btn {
  padding-left: 20%;
  padding-right: 20%;
  background-color: rgb(207, 105, 205);
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .align-center {
    padding-right: 5%;
  }

  .submit-btn {
    padding-left: 10%;
    padding-right: 10%;
  }

  label {
    font-size: 13px;
  }

  .form-control {
    font-size: 13px;
  }

}
