/* First Section */
.display-size {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  border-radius: 1%;
  background-color: rgb(165, 165, 238);
}

.text-color {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #485063;
}

.title-style {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: blueviolet;
}

.btn {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

/* Second Section */
.second-section {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 1%;
  background-color: rgb(238, 202, 242);
}

.img-associate {
  border-radius: 30px;
  width: 80%;
}

.bio {
  margin-left: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(235, 116, 231);
}

.bio-text {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 16px;
  text-align: left;
  text-justify: inter-word;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 600px) {
  .first-p {
    font-size: 15px;
  }
  .bio {
    font-size: 18px;
  }

  .bio-text {
    font-size: 13px;
  }

  .img-associate {
    width: 100%;
  }
}