.background-c {
    background-color: #d3d3d3;
}

.text-style {
    font-family: 'Times New Roman', Times, serif;
    color: #485063;
}

.brand-name {
    color: #485063;
}

.text-style {
    font-size: 20px;
}