.dark-bg {
    background-image: linear-gradient(rgba(0,0,0, .2), rgba(0,0,0, .9)), url('../../../assets/hero-img.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero .container {
    height: 100vh;
}

#title-s {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
}

.text-style {
    font-family: 'Times New Roman', Times, serif;
}